@font-face {
  font-family: "San Francisco";
  font-weight: normal;
  src: url("https://www.apple.com/wss/fonts/SF-Pro-Display/v3/sf-pro-display_regular.woff2");
}

@font-face {
  font-family: "San Francisco";
  font-weight: /*semi*/ bold;
  src: url("https://www.apple.com/wss/fonts/SF-Pro-Display/v3/sf-pro-display_semibold.woff2");
}

:root {
  /** --main-color: rgb(0, 51, 89); */
  color-scheme: light dark;
  --main-color: rgb(0, 51, 89);
  font-family: "San Francisco", sans-serif;
  --page-background: white;
  --nav-text: white;
  --page-text: black;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    color-scheme: light dark;
    --main-color: white;
    --page-background: black;
    --nav-text: black;
    --page-text: white;
  }
}

body {
  margin: 0;
}

#content {
  margin: 0 auto;
  padding: 15vh 5% 0 5%;
}


.img-circle {
  max-width: 45vh;
  max-height: 45vh;
  text-align: center;
  border: 0.5vh solid var(--main-color);
  border-radius: 50%;
  display: inline;
}

.img-circle:hover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 0.5vh solid var(--main-color);
  box-shadow: 0 0 0.5em 0.1em var(--main-color);
}

.social-icons {
  color: var(--main-color);
  text-align: center;
  line-height: 1%;
  font-size: 10vw;
  margin-top: 10vh;
  margin-bottom: 5%;
}

.social-icons a, .social-icons i {
  color: var(--main-color);
}

.social-icons a:hover, .social-icons i:hover {
  transform: scale(1.1, 1.1);
  z-index: 0;
}

.about {
  text-align: center;
  margin: 0 auto;
  height: auto;
}

.nav {
  background-color: var(--main-color);
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 1;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  color: var(--nav-text);
}

.nav a {
  z-index: 1;
  padding: 1vw 2vw;
  text-decoration: none;
  font-size: 3vh;
  color: var(--nav-text);
}

.four04 {
  font-size: 3vw;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--page-text);
}

.four04 a {
  color: var(--main-color);
  text-decoration: none;
}

#centernav {
  text-align: center;
}

.nav a:hover {
  background-color: var(--page-background);
  color: var(--main-color);
}

.e404 {
  padding-top: 2vh;
}

.e404 h1 {
  font-size: 10vh;
}

.startImage {
  width: 20vw;
}

.headerPic {
  font-size: 5vw;
}

@media (max-width: 480px) {
  .social-icons {
    font-size: 16vw;
  }
  .nav a {
    font-size: 6vw;
  }
}



.linelink {
  position: relative;
  text-decoration: none;
  color: #303f9f;
  z-index: 1;
}

.linelink:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.075em;
  bottom: 0.125em;
  left: 0;
  background: rgba(0, 0, 255, 0.9);
  visibility: hidden;
  border-radius: 2px;
  transform: scaleX(0);
  transition: .25s linear;
}

.linelink:hover:before,
.linelink:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

.multilinelink {
  text-decoration: none;
  color: rgba(0, 0, 255, 0.9);
}

.multilinelink:hover {
  text-decoration: underline;
}



.footer {
  background-color: black;
  overflow: hidden;
  position: absolute;
  left: 0px;
  right: 0px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0px;
  padding-bottom: 2vh;
  padding-top: 2vh;
}

footer {
  font-size: 1.5em;
}

.footer a {
  color: rgba(0, 0, 255, 0.9);
  z-index: -1;
  text-decoration: none;
}
